<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Backend</h2>
    <i class="devicon-laravel-original colored" title="Laravel"></i>
    <i class="devicon-inertiajs-plain colored" title="Inertia.js"></i>
    <i class="devicon-nodejs-plain-wordmark colored" title="Node.js"></i>
  </div>
  <div class="tech">
    <h2>Frontend</h2>
    <i class="devicon-vuejs-plain colored" title="Vue.js"></i>
    <i class="devicon-flutter-plain colored" title="Flutter"></i>
    <i class="devicon-android-plain colored colored" title="Android"></i>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-vscode-plain colored" title="Visual Studio Code"></i>
    <i class="devicon-linux-plain colored" title="Linux"></i>
    <i style="vertical-align: middle;" title="Claude Code">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
        <title>Claude Code</title>
        <path clip-rule="evenodd"
          d="M20.998 10.949H24v3.102h-3v3.028h-1.487V20H18v-2.921h-1.487V20H15v-2.921H9V20H7.488v-2.921H6V20H4.487v-2.921H3V14.05H0V10.95h3V5h17.998v5.949zM6 10.949h1.488V8.102H6v2.847zm10.51 0H18V8.102h-1.49v2.847z"
          fill="#D97757" fill-rule="evenodd" />
      </svg>
    </i>
  </div>
</div>