<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored" title="HTML5"></i>
    <i class="devicon-tailwindcss-original colored" title="Tailwind CSS"></i>
    <i class="devicon-vuetify-plain colored" title="Vuetify"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p> -->
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-vuejs-plain colored" title="Vue.js"></i>
    <i class="devicon-android-plain colored colored" title="Android"></i>
    <i class="devicon-flutter-plain colored" title="Flutter"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p> -->
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-vscode-plain colored" title="Visual Studio Code"></i>
    <i class="devicon-linux-plain colored" title="Linux"></i>
    <i class="devicon-docker-plain colored" title="Docker"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p> -->
  </div>
</div>