body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    --primary: #2c2642;
    --secondary: #595581;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, strong {
    margin-top: 1em;
    line-height: 1.25;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 0;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
    body {
        color: #CCC;
        --secondary: #9b97c5;
    }
}