.footer {
  background: var(--primary);
  padding: 10px 0;
  margin-top: 50px;
  text-align: center;
  color: #FFF;
  .built {
    opacity: 0.6;
  }
  a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    &:hover{
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
    }
  }
}