#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: 640px) {
    width: 80%;
  }
}

.user-projects {
  margin: 25px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: #7774 1px solid;
  }
  h3 {
    margin: 10px 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    text-transform: uppercase;
    display: inline;
    border: var(--secondary) 1px solid;
    border-radius: 50px;
    padding: 4px 10px;
    margin-right: 5px;
    color: var(--secondary);
  }
  p {
    margin-right: 5px;
  }
}

.user-projects:nth-of-type(even) {
  --images-float: right;
  --contents-float: left;
}

.user-projects:nth-of-type(odd) {
  --images-float: left;
  --contents-float: right;
}

.contents {
  @media only screen and (min-width: 640px) {
    margin-left: 0;
    width: 48%;
    float: var(--contents-float);
  }
}

.images {
  @media only screen and (min-width: 640px) {
    width: 48%;
    float: var(--images-float);
  }
}

.project-link {
  display: inline-block;
  padding: 5px 10px;
  color: var(--secondary);
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}